<div>
        <h2 style="text-align: center"> Patients Files. </h2>
    <mat-card style="background-color: rgb(140, 200, 240)" >  

        <table matSort (matSortChange)="sortData($event)">
                <tr id="top">
                  <th >Name</th>
                  <th >Surname</th>
                  <th >Age</th>
                  <th >Identity</th>
                  <th ></th>
                  <th ></th>
                </tr>
              
                <tr *ngFor="let views of Patientz; index as id ">
                  <td>{{views.name}} </td>
                  <td>{{views.surname}}</td>
                  <td>{{views.age}} </td>
                  <td>{{views.id}} </td>
                  <td><button mat-raised-button style="background-color: rgb(53, 122, 143)" (click)="EditPat(Listedpatients)"> Edit</button></td>
                  <td><button mat-raised-button style="background-color: rgb(53, 122, 143)"  [routerLink] = "['/patientAppointment',views.id]" > Appointment</button></td>
                                                                                                   
                </tr>
              </table>
      
    </mat-card>
   
</div>
