<h3 style="text-align: center;"> Doctor's Schudule Information </h3>

<!-- <button style="background-color: rgb(10, 136, 185)"  routerLink= '/patientAppointment/:id' > Back </button>

<table matSort (matSortChange)="sortData($event)">
        <tr id="top">
                <th>Identity</th>
            <th>Appointment date</th>
            <th> Reason </th>
            <th> Doctor</th>
            <th></th>
         </tr>

         <tr *ngFor="let set of List">
                <td> {{set.id}}</td>
                    <td>{{set.Date}}</td>
                    <td>{{set.reason}}</td>
                    <td>{{set.doctor}}</td>
                    <td><button mat-mini-fab style="background-color: rgb(10, 136, 185)"  (click)= "removeApp(schedule)"> <mat-icon >delete</mat-icon></button></td>
        </tr>
</table> -->


